*
{
    padding: 0;
    margin: 0;
}

nav
{
 position: fixed;
 background-color: rgba(255, 255, 10, 0.905);
 height: 70px;
 width: 100%;
 z-index: 1;
}

.dsulogo
{
    position: relative;
    right: 20px;
}

.logo
{
    font-size: 25px; 
    position: relative;
    left: 5%;
    color: darkblue;
    font-weight: bold;
    line-height: 70px;
}

ul
{
    font-size: 20px;
    position: relative;
    float: right;
    margin-right: 20px;
}

ul li
{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a
{
    text-decoration: none;
    color: darkblue;
    font-size: 17px;
}

.main_img
{
    width: 100%;
    height: 300px;
}

.section1
{
    padding-top: 70px;
}

.img_text
{
    position: absolute;
    top: 20%;
    left: 38%;
    color: black;
    background-color: whitesmoke;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 35px;
}

.intro_img
{
    width: 100%;
    height: 250px;
}

.container
{
    padding-top: 70px;
}

.label_text
{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.input_deg
{
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid blue;
} 

.adm_int
{
  padding-top: 10px;  
}

.inp_txt
{
    width: 30%;
    height: 120px;
    border-radius: 25px;
    border: 1px solid blue;
} 

#submit
{
    position: relative;
    width: 15%;
    left: 5%;
}

footer
{
    background-color: black;
    height: 70px;
    width: 100%;
}

.footer_text
{
    text-align: center;
    color: white;
    top: 20%;
    position: relative;

}

.adm
{
    padding-top: 30px;
}

.form_deg
{
    padding-top: 200px;
}

.label_deg
{
   display: inline-block;
   color: skyblue;
   width: 100px;
   text-align: right;
   padding-top: 10px;
   padding-bottom: 10px; 
}

.login_form
{
    background-color: rgba(0, 0, 0, 0.684);
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
    height: 300px;
}

.title_deg
{
    background-color:skyblue;
    color: black;
    text-align: center;
    font-weight: bold;
    width: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    /*font-size: 50px;*/
}

.body_deg
{
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%; 
}

.body_deg1
{
    background-size: cover;
    
}

.profnametxt
{
    position: relative;
    right: 50%;
}

.dsulogo
{
    position: relative;
    left: 5%;
    width: 5px;
}
